{
  "presets": [
    ["@babel/env",
      {
        "targets":{
          "node":"12.14"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
    ]
}
